.gradle/
build/
.idea/
*.iml
bin/
target/
temp/
.vscode/*
!.vscode/java-formatter.xml
!.vscode/settings.json
!gradle.properties
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat
*.swp
*.bak
*.tmp
*.orig
.DS_Store
combine.ps1